{% extends "base.html" %}

{% block title %} Blogs {%endblock%}

{% block content %}


<h1> Bütün İçerikler</h1>

<div class="container mt-3">
    <div class="row">
        <div class="col-3">
            {% include 'partials/_catagories.html' %}   
        </div> 
        <div class="col-9">
            {% for blog in blogs %}
                <section class="{{blog.title}}">
                {% if blog.is_active %}
                    {% include 'partials/_DM.html' %}
                {% endif %}   
            {% endfor %}
        </section>
        </div>
    </div>
</div>   


{% endblock %}