<nav class="navbar navbar-light bg-primary navbar-expand-lg">
    <div class="container">
        <a class="navbar-brand " href="{% url 'anasayfa' %}">DebateManager</a>
        <ul class="navvar-nav navbar-light me-auto">
            <li class="nav-item">
                <a class="nav-link navbar-brand" href="{% url 'ANASAYFA' %}">Ana Sayfa</a>
            </li>
            <li class="nav-item">
                <a class="nav-link navbar-brand" href="{% url 'Son Konular' %}">Son Konu</a>
            </li>
        </ul>
    </div>
</nav>