<nav class="navbar navbar-light bg-primary navbar-expand-lg">
    <div class="container"> 
        <a class="navbar-brand " href="{% url 'anasayfa' %}">DebateManager</a>
        <ul class="navvar-nav navbar-light me-auto navbar-expand-lg">
            <li class="nav-item">
                <a class="nav-link navbar-brand" href="{% url 'anasayfa' %}">Anasayfa</a>
            </li>
            <li class="nav-item">
                <a class="nav-link navbar-brand" href="{% url 'blogs' %}">Son Konular</a>
            </li>
            <li class="nav-item">
                <a class="nav-link navbar-brand" href="{% url 'Admin' %}">Kullanıcı Girişi</a>
            </li>
            <li class="nav-item">
                <a class="nav-link navbar-brand" href="{% url 'Kayıt' %}">Üye Ol</a>
            </li>
        </ul>
    </div>
</nav>

